.sidebar {
  height: 100vh;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.list-group-item {
  cursor: pointer;
  
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #343a40;
  color: white;
  font-size: 24px;
}
