.sidebar {
  height: 100vh;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.list-group-item {
  cursor: pointer;
  
  
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #343a40;
  color: white;
  font-size: 24px;
}

.list-group .list-group-item {
  background-color: rgb(28, 26, 26);
  font-size: 18px;
}

.li-hover:hover {
  background-color: rgb(57, 72, 86);
  font-size: 18.2px;
  transition: 0.3s ease-in-out;
}

#main-div {
  background-color: rgb(28, 26, 26);
}

