.progress-container {        
    text-align: center;
    
  }
  
  .progress-bar {   
    border-radius: 5px; 
    width: 0%;
    height: 24px;
    background-color: #3f87ec; 
    transition: width 0.3s ease-in-out;
  }
  